[Unit]
Description=Jenkins Agent
After=network.target

[Service]
User=jenkins
Group=jenkins
ExecStart=/usr/bin/java -jar /opt/jenkins/agent.jar -jnlpUrl http://172.31.30.141:8080/computer/agent-node/slave-agent.jnlp
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target